__pycache__/
*.pyc
*.c
*.so
/.pytest_cache
/.cache
datasets/*
.idea/*
checkpoint/*
weights/*
__pycache__/*
*.pyc
misc/*
prd/*
t/*
logs/*
imgs/*
*.h5
more_badshoes/*
anns/*
*.pb
*.pbtxt
datasets/*
.idea/*
.vscode/*
checkpoint/*
weights/*
__pycache__/*
*.pyc
misc/*
prd/*
t/*
logs/*
imgs/*
*.h5
more_badshoes/*
anns/*
*.pb
*.pbtxt